# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DckEngine.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Workspaces\csharp\DckEngineCS\.idea\.idea.DckEngine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
